<div class="container">

    <div class="row">

        <div class="coluna">
            <!-- <h3 class="weather-title">Consulte o tempo</h3> -->
            
            <img class="weather-icon" src={{this.weatherData?.current.weather_icons}} />

            <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
                <div class="form-group">
                    <input
                        class="form-control"
                        type="text"
                        id="weatherLocation"
                        aria-describedby="weatherLocation"
                        placeholder="Pesquise por um local"
                        formControlName="location" />
                </div>

                <div class="weather-text">
                    <button type="submit" class="btn btn-success btn-md"> Search </button>
                </div>

            </form>

        </div>

        <div class="coluna">
            <h3 class="weather-title"> Detalhes do tempo: </h3>
            <div class="weather-grid">
                <div>
                    <p class="weather-text">Local: {{this.weatherData?.location.country}}, {{this.weatherData?.location.name}}</p>
                    <p class="weather-text" id="weather-desc">Tempo: {{this.weatherData?.current.weather_descriptions}}</p>
                 </div>

                <div>
                    <p class="weather-text">Sensação: {{this.weatherData?.current.feelslike}}</p>
                    <p class="weather-text" id="weather-temp">Temperatura: {{this.weatherData?.current.temperature}}</p>
                </div>
            </div>
            
             
        </div>

    </div>
</div>